@import "@/styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");

#app,
.p-component {
    font-family: "Roboto Mono";
    color: $black;
}

.p-button {
    background-color: $wild-blue-yonder;
    border: inherit;
}