$purple: #9e2ce0;
$black: #1F1F1F;
$font-family: "Roboto Mono";
$button-color: pink;

$queen-pink: #d6c3c9ff;
$beaver: #b49082ff;
$chestnut: #98473eff;
$metallic-sunburst: #a37c40ff;
$rich-black-fogra-39: #07090fff;


$wild-blue-yonder: #99B2DD;